@import "../../node_modules/bootstrap/scss/bootstrap";
html{
    height: 100vh;
    body {
        background-color: lightgray;
        height: 100%;

        header{
            background-color: gray;
            justify-content: center;
            width: 100%;
            height: 100px;
            .menu-top-left{
                width: 99px;
                height: 99px;
                a{
                    img{
                        width: 100%;
                    }
                }
                
            }
            
        }
        .menu-left{
            position: absolute;
            left: -250px;
            padding: 0px;
            background-color: white;
            a:hover{
                text-decoration: none;
                background-color: gray;
                color: white;
                
            }
            a{
                color: black;
                font-weight: bold;
                width: 100%;
                align-self: center;
                width: 100%;
                text-align: center;
                padding-top: 10px;
                padding-bottom: 10px;
                display: block;
            }
            
                
                
            
        }
        .menu-closed{
            width: 50px;
            height: 50px;
            position: absolute;
            left: 200px;
            img{
                width: 100%;
            }
        }
        .menu-burger{
            position: absolute;
            width: 50px;
            height: 50px;
            img{
                width: 100%;
            }
        }

        
            
    }
}